<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mercado Liebre</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/2da8e91210.js" crossorigin="anonymous"></script>
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>

        <!-- Header Start -->

    <header class="main-header">
        <div class="main-header-top-bar">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
            <p class="buscador"><input type="text" name="buscador" placeholder="Buscar productos, marcas "></p>
            <div class="lupa"><i class="fas fa-search"></i></div>
        <h2 class="copy-header">
            <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
        </h2>
        <div class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </div>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href=http://localhost:3000> Ofertas</a></li>
                <li><a href=https://www.mercadolibre.com.ar/tiendas-oficiales#menu=categories> Tiendas Oficiales</a></li>
                <li><a href=http://localhost:3000/upload> Vender</a></li>
                <li><a href=https://www.mercadolibre.com.ar/ayuda#nav-headerr> Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register"> Creá tu cuenta</a> <i class="fa-solid fa-address-card"></i></li>
                <li><a href="/login"> Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href=https://myaccount.mercadolibre.com.ar/purchases/list#nav-header> Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
    </header>
<!-- Header End -->
<!-- Banner Start -->
    <section class="banner">
        <a href="https://mercadolibre.com.ar" target="_blank"><img width=100% src="/images/img-home-banner.jpg" alt="home banner mercado liebre"></a>
    </section>
<!-- Banner End -->
    <main>
<!-- Last Visit View Start -->
        <section> 
            <h2><strong>Basado en tu última visita</strong></h2>
            <div class="products">
            <article>
                <img width=100% src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex según tu última visita">
                <h5 class="category">Hotsale: Ofertas Flash</h5>
            <div class="main-article"><i class="fa-solid fa-truck"></i>
                <p class="precios">$6.770</p>
                <p class="desc">40% OFF</p>
                <h4 ><strong>Cafetera Moulinex</strong></h4>
            </div>
            </article>
            <article>
                <img width=100% src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019 según tu última visita">
                <h5 class="category">Hotsale: Ofertas Flash</h5>
            <div class="main-article"><i class="fa-solid fa-truck"></i> 
                <p class="precios">$230.000</p>
                <p class="desc">20% OFF</p>
                <h4 ><strong>MacBook Pro 2019</strong></h4>
            </div>
            </article>
            <article>
                <img width=100% src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10 según tu última visita">
                <h5 class="category">Hotsale: Ofertas Flash</h5>
            <div class="main-article"><i class="fa-solid fa-truck"></i>
                <p class="precios">$70.500</p>
                <p class="desc">10% OFF</p>
                <h4 ><strong>Samsung Galaxy S10</strong></h4>
            </div>
            </article>
            <article>
                <img width=100% src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43 pdivgadas según tu última visita">
                <h5 class="category">Hotsale: Ofertas Flash</h5>
            <div class="main-article"><i class="fa-solid fa-truck"></i>
                <p class="precios">$23.200</p>
                <p class="desc">5% OFF</p>
                <h4 ><strong>SmartTv Samsung 43"</strong></h4>
            </div>
            </article>
        </div>
        </section>
        <br>
<!-- Last Visit View End -->
<!-- Offers View Start -->
        <section>
            <h2><strong>Ofertas</strong></h2>
            <div class="products">
            <article>
                <img width=100% src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex en oferta">
                <h5 class="category">Hotsale: Ofertas Flash</h5>
            <div class="main-article">
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$6.770</p>
                <p class="desc">40% OFF</p>
                <h4 ><strong>Cafetera Moulinex</strong></h4>
            </div>
            </article>
            <article>
                <img width=100% src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019 en oferta">
                <h5 class="category">Hotsale: Ofertas Flash</h5>
            <div class="main-article"><i class="fa-solid fa-truck"></i>
                <p class="precios">$230.000</p>
                <p class="desc">20% OFF</p>
                <h4 ><strong>MacBook Pro 2019</strong></h4>
            </div>
            </article>
            <article>
                <img width=100% src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10 en oferta">
                <h5 class="category">Hotsale: Ofertas Flash</h5>
            <div class="main-article"><i class="fa-solid fa-truck"></i>
                <p class="precios">$70.500</p>
                <p class="desc">10% OFF</p>
                <h4 ><strong>Samsung Galaxy S10</strong></h4>
            </div>
            </article>
            <article>
                <img width=100% src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43 pdivgadas en oferta">
                <h5 class="category">Hotsale: Ofertas Flash</h5>
            <div class="main-article"><i class="fa-solid fa-truck"></i>
                <p class="precios">$23.200</p>
                <p class="desc">5% OFF</p>
                <h4 ><strong>SmartTv Samsung 43"</strong></h4>
            </div>
            </article>
            </div>
        </section>
<!-- Offers View Start -->
<!-- Upload Products link Start -->
        <section class="upload">
            <a href="http://localhost:3000/upload">
                <button type="submit" class="boton-formulario">Empezá a cargar tus productos</button>
            </a>
        </section>
<!-- Upload Products Link End -->
    </main>
<!-- Footer Start -->
    <footer>
        <div class="footer-columns">
            <div class="footer-column-credit">
                <i class="fa-solid fa-credit-card"></i>
                <h3><strong>Pagá con tarjeta o en efectivo</strong></h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
                <div class="footer-column-gift">
                <i class="fa-solid fa-gift"></i>
                <h3><strong>Envío gratis desde $ 2.500</strong></h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
                <div class="footer-column-shield">
                <i class="fa-solid fa-user-shield"></i>
                <h3><strong>Seguridad, de principio a fin</strong></h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </div>
        <div class="footer-end">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
<!-- Footer End -->
</body>
</html>