<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mercado Liebre</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/2da8e91210.js" crossorigin="anonymous"></script>
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/register.css" rel="stylesheet">
</head>
<body>
<!-- Header Start -->
    <header class="main-header">
        <div class="main-header-top-bar">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
            <p class="buscador"><input type="text" name="buscador" placeholder="Buscar productos, marcas "></p>
            <div class="lupa"><i class="fas fa-search"></i></div>
        <h2 class="copy-header">
            <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
        </h2>
        <div class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </div>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href=http://localhost:3000> Ofertas</a></li>
                <li><a href=https://www.mercadolibre.com.ar/tiendas-oficiales#menu=categories> Tiendas Oficiales</a></li>
                <li><a href=http://localhost:3000/upload> Vender</a></li>
                <li><a href=https://www.mercadolibre.com.ar/ayuda#nav-headerr> Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register"> Creá tu cuenta</a> <i class="fa-solid fa-address-card"></i></li>
                <li><a href="/login"> Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href=https://myaccount.mercadolibre.com.ar/purchases/list#nav-header> Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
    </header>
<!-- Header End -->
<!-- Register Form Start -->
        <section class="register-form">
            <form action="/register-user" method="POST" class="create-form-register">
                <div class="control-formulario">
                    <h2>Registrate a continuación</h2>
                    <label ></label>
                    <input type="text" name="nombre" placeholder="Nombre y apellido" class="control">
                </div>
                <div class="control-formulario">
                    <label ></label>
                    <input type="text" name="user" placeholder="Nombre de usuario" class="control">
                </div>
                <div class="control-formulario">
                    <label ></label>
                    <input type="text" name="email" placeholder="E-mail" class="control">
                </div>
                <div class="control-formulario">
                    <label ><h2>Fecha de nacimiento:</h2></label>
                    <input type="date" name="date" placeholder="mm/dd/yyyy" class="control">
                </div>
                <div class="control-formulario">
                    <label ></label>
                    <input type="text" name="adress" placeholder="Domicilio" class="control">
                </div>
                <div>
                    <label ><h2>Perfil del usuario</h2></label>
                </div>
                <div class="control-formulario-radio">
                    <input  type="radio" name="comprador" value="Comprador" checked> <label for="comprador">Comprador</label>
                    <input  type="radio" name="vendedor" value="Vendedor"> <label for="vendedor">Vendedor</label>
                </div>
                <div class="control-formulario-intereses">
                    <label ><h2>Intereses</h2></label>
                    <input type="checkbox" name="intereses" value="Electro"><label for="intereses">Electro</label><br>
                    <input type="checkbox" name="intereses" value="Moda"><label for="intereses">Moda</label><br>
                    <input type="checkbox" name="intereses" value="Hogar"><label for="intereses">Hogar</label><br>
                    <input type="checkbox" name="intereses" value="Juguetería"><label for="intereses">Juguetería</label><br>
                    <input type="checkbox" name="intereses" value="Vida sana"><label for="intereses">Vida sana</label><br>
                </div>
                <br>
                <div class="control-formulario">
                    <label >Subir una imagen</label>
                    <input type="file" name="foto" class="control">
                </div>
                <div class="control-formulario">
                    <label ></label>
                    <input type="password" name="pass" placeholder="Contraseña" class="control">
                </div>
                <div class="control-formulario">
                    <label ></label>
                    <input type="password" name="pass2" placeholder="Confirmar contraseña" class="control">
                </div>
                <button type="submit" class="boton-formulario">Enviar</button>
                <button type="reset" class="boton-formulario">Borrar</button>
            </form>
        </section>
<!-- Register Form End -->
    </main>
<!-- Footer Start -->
    <footer>
        <div class="footer-columns">
            <div class="footer-column-credit">
                <i class="fa-solid fa-credit-card"></i>
                <h3><strong>Pagá con tarjeta o en efectivo</strong></h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
                <div class="footer-column-gift">
                <i class="fa-solid fa-gift"></i>
                <h3><strong>Envío gratis desde $ 2.500</strong></h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
                <div class="footer-column-shield">
                <i class="fa-solid fa-user-shield"></i>
                <h3><strong>Seguridad, de principio a fin</strong></h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </div>
        <div class="footer-end">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
<!-- Footer Start -->
</body>
</html>